@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
/* THE WAY TO SOLVE JAVASCRIPT DARK/LIGHT MODE TOGGLE - then use this variables below */
* { margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; scroll-padding-top: 75px; }

body { font-family: "Poppins", sans-serif; color: #141414; background-color: #fefefe; min-height: 100vh; overflow-x: hidden; }

.scroll-to-top { position: fixed; cursor: pointer; bottom: 1.25rem; right: 1.25rem; width: 50px; height: 50px; border: 2px solid #4d9de0; background-color: #4d9de0; color: #fefefe; border-radius: 10px; line-height: 50px; display: flex; align-items: center; justify-content: center; text-align: center; visibility: hidden; opacity: 0; transition: all 0.3s ease; }

.scroll-to-top i { font-size: 1.75rem; font-weight: 700; }

.scroll-to-top:hover { background-color: #fefefe; color: #4d9de0; border: 2px solid #4d9de0; }

.active { visibility: visible; opacity: 1; }

.header { z-index: 999; width: 100vw; display: flex; justify-content: center; align-items: center; color: #141414; background-color: #fefefe; padding: 1rem; position: sticky; top: 0; border-bottom: 2px solid #141414; }

.header .main-navigation { width: 90vw; margin: 0.25rem 0; display: flex; justify-content: space-between; align-items: center; }

.header .main-navigation .logo { color: #4d9de0; font-family: "Anonymous Pro", monospace; font-size: 1.2rem; font-weight: 700; letter-spacing: 0.1rem; }

.header .main-navigation .logo .text-content { margin: 0; padding: 0; }

.header .main-navigation .nav-menu { list-style-type: none; display: flex; }

.header .main-navigation .nav-menu .nav-item { margin-left: 1.75rem; font-size: 1.1rem; font-weight: 500; }

.header .main-navigation .nav-menu .nav-item a { text-decoration: none; color: #141414; transition: all 0.3s ease; }

.header .main-navigation .nav-menu .nav-item a:hover { text-decoration: none; color: #4d9de0; }

.header .main-navigation .nav-menu .nav-item .toggle-mode { cursor: pointer; padding: 0.25rem 0.5rem; }

.main { width: 100vw; height: 70vh; background-image: url("/images/main-bg-1.jpg"); background-position: top; background-repeat: no-repeat; background-size: cover; display: flex; align-items: center; justify-content: center; }

.main .main-content { width: 80%; }

.main .main-content .main-title { width: 75%; background-color: rgba(0, 0, 0, 0.65); padding: 0.5rem 1rem; border-radius: 15px; color: #fefefe; }

.offer-section { width: 100vw; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #fff; }

.offer-section .section-content { width: 80%; margin: 2rem 0; display: grid; grid-template-columns: repeat(3, 1fr); gap: 1.25rem; }

.offer-section .section-content .offer-container { cursor: pointer; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 25px; height: 200px; background-position: center; background-repeat: no-repeat; background-size: cover; transition: all 0.3s ease; box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.offer-section .section-content .offer-container .offer-title { color: #fefefe; background: rgba(0, 0, 0, 0.75); padding: 0.5rem 0.75rem; border-radius: 15px; text-transform: uppercase; font-size: 1.2rem; font-weight: 600; letter-spacing: 1px; }

.offer-section .section-content .offer-container .offer-image { width: 100%; height: auto; border-radius: 25px; }

.offer-section .section-content .offer-container:hover { transform: scale(1.05); }

.offer-section .services-button { cursor: pointer; font-size: 1.2rem; font-weight: 500; text-transform: uppercase; outline: none; background-color: #4d9de0; color: #fefefe; border: 2px solid #fefefe; border-radius: 10px; padding: 0.5rem 0.75rem; transition: all 0.3s ease; }

.offer-section .services-button:hover { color: #4d9de0; background-color: #fefefe; border-color: #4d9de0; transform: scale(1.05); }

.section-title { margin: 2rem 0 1rem 0; padding: 0; width: 100%; font-size: 1.75rem; font-weight: 700; letter-spacing: 0.1rem; text-align: center; text-transform: uppercase; }

.contact-us { width: 100vw; margin: 2rem 0; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.contact-us .contact-wrapper { width: 80%; display: flex; flex-direction: column; justify-content: center; align-items: center; }

.contact-us .contact-wrapper .contact-info { width: 80%; display: flex; flex-wrap: wrap; justify-content: center; align-content: space-between; gap: 1rem; padding: 0.5rem; }

.contact-us .contact-wrapper .contact-info .info { cursor: pointer; padding: 1rem; margin: 0.5rem 0; border: 2px solid #000; border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px; text-align: center; transition: all 0.3s ease; white-space: nowrap; }

.contact-us .contact-wrapper .contact-info .info i { font-size: 2.5rem; margin-bottom: 0.5rem; transition: all 0.3s ease; }

.contact-us .contact-wrapper .contact-info .info:hover i { transform: translateY(-10px); }

.contact-us .contact-wrapper .google-map { width: 80%; height: 50vh; box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.footer { width: 100vw; margin-top: 1rem; background-color: #141414; color: #ccc; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.footer .footer-menu-section { width: 80%; display: flex; padding: 2rem; gap: 1rem; }

.footer .footer-menu-section .footer-menu-column { display: flex; flex-direction: column; justify-content: start; margin-right: 2rem; }

.footer .footer-menu-section .footer-menu-column .footer-menu-header { margin: 0.25rem 0; font-size: 1.3rem; font-weight: 500; letter-spacing: 0.1rem; }

.footer .footer-menu-section .footer-menu-column .footer-menu-header a { text-decoration: none; color: #ccc; }

.footer .footer-menu-section .footer-menu-column .footer-menu-header:hover a { color: #fefefe; }

.footer .footer-menu-section .footer-menu-column .footer-menu { list-style: none; }

.footer .footer-menu-section .footer-menu-column .footer-menu .footer-menu-item a { text-decoration: none; color: #ccc; }

.footer .footer-menu-section .footer-menu-column .footer-menu .footer-menu-item:hover a { color: #fefefe; }

.footer .footer-stipe { width: 100vw; display: flex; justify-content: center; background-color: #030303; }

.footer .footer-stipe .footer-stripe-info { width: 80%; display: flex; justify-content: center; align-items: center; }

.footer .footer-stipe .footer-stripe-info .footer-logo .logo-text { margin: 0; padding: 0; color: #fefefe; font-size: 1.2rem; font-weight: 500; letter-spacing: 0.1rem; }

/* BACKGROUND IMAGES */
.vulcanization { background-image: url("../images/offerSection/vulcanization.jpg"); }

.car-rim { background-image: url("../images/offerSection/carRim.jpg"); }

.tyre-storage { background-image: url("../images/offerSection/tyresStorage.jpg"); }

.hose-set { background-image: url("../images/offerSection/hoseSet.jpg"); }

.car-mechanic { background-image: url("../images/offerSection/carMechanic.jpg"); }

.upholstery-cleaning { background-image: url("../images/offerSection/upholsteryClening.jpg"); }

.petrol-station { background-image: url("../images/offerSection/petrolTanking.jpg"); }

.car-wash { background-image: url("../images/offerSection/carWash.jpg"); }

.car-diagnostics { background-image: url("../images/offerSection/carDiagnostics.jpg"); }

.automative-shop { background-image: url("../images/offerSection/carToolsSmall.jpg"); }

.air-conditioning { background-image: url("../images/offerSection/airConditioning.jpg"); }

.car-dashboard { background-image: url("../images/offerSection/dashboard.jpg"); }

/* MEDIA QUERIES */
@media only screen and (max-width: 1300px) { .header .main-navigation .logo { font-size: 1rem; letter-spacing: 0; }
  .header .main-navigation .nav-menu .nav-item { font-size: 1rem; }
  .offer-section .section-content .offer-container .offer-title { font-size: 1rem; } }

@media only screen and (max-width: 1060px) { .header .main-navigation .nav-menu { display: none; }
  .offer-section .section-content { grid-template-columns: repeat(2, 1fr); }
  .offer-section .section-content .offer-container .offer-title { font-size: 1.1rem; } }

@media only screen and (max-width: 960px) { .footer .footer-menu-section { flex-wrap: wrap; }
  .footer .footer-menu-section .footer-menu-column .footer-menu-header { font-size: 1.1rem; }
  .footer .footer-menu-section .footer-menu-column .footer-menu .footer-menu-item { font-size: 1rem; } }

@media only screen and (max-width: 760px) { .offer-section .section-content { grid-template-columns: repeat(1, 1fr); }
  .offer-section .section-content .offer-container .offer-title { font-size: 1.25rem; } }

.services-section { width: 100vw; margin-top: 2rem; display: flex; justify-content: center; align-items: center; }

.services-section .services-wrapper { width: 90%; display: grid; grid-template-columns: auto 1fr; }

.services-section .services-wrapper .services-aside { padding: 1rem; }

.services-section .services-wrapper .services-aside .services-aside-title { text-align: center; font-size: 1.5rem; font-weight: 600; letter-spacing: 0.1rem; }

.services-section .services-wrapper .services-aside .services-menu { list-style: none; margin-top: 1rem; }

.services-section .services-wrapper .services-aside .services-menu .serivice-item { padding: 0.25rem 0; margin: 0.25rem 0; }

.services-section .services-wrapper .services-aside .services-menu .serivice-item a { text-decoration: none; color: #141414; font-size: 1.1rem; font-weight: 500; transition: all 0.15s ease; }

.services-section .services-wrapper .services-aside .services-menu .serivice-item:hover a { color: #4d9de0; }

.services-section .services-wrapper .services-content { width: 100%; padding: 1rem 2rem; }

.services-section .services-wrapper .services-content .special-offers { width: 100%; display: flex; flex-direction: column; justify-content: center; }

.services-section .services-wrapper .services-content .special-offers .special-offers-main-title { text-align: center; font-size: 1.75rem; font-weight: 700; letter-spacing: 0.1rem; }

.services-section .services-wrapper .services-content .special-offers .special-offers-title { text-align: center; margin: 0.5rem 0; font-size: 1.5rem; font-weight: 600; letter-spacing: 0.1rem; }

.services-section .services-wrapper .services-content .special-offers .special-offers-container { text-align: center; margin-top: 1rem; display: flex; flex-direction: column; }

.services-section .services-wrapper .services-content .special-offers .special-offers-container .offer-title { font-size: 1.2rem; font-weight: 500; letter-spacing: 0.1rem; line-height: 50px; color: #4d9de0; }

.services-section .services-wrapper .services-content .special-offers .animated-text { position: relative; height: 50px; overflow: hidden; }

.services-section .services-wrapper .services-content .special-offers .animated-text .special-offer h3:nth-child(1) { animation: text-move 5s infinite; }

.services-section .services-wrapper .services-content .services-container { display: flex; flex-wrap: wrap; flex: 1 1 200px; }

.services-section .services-wrapper .services-content .services-container .service-box { display: flex; flex-direction: column; justify-content: flex-start; align-items: start; margin: 1.25rem; flex: 1 1 300px; transition: all 0.3s ease; }

.services-section .services-wrapper .services-content .services-container .service-box .service-image { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; cursor: pointer; border-radius: 25px; height: 200px; background-position: center; background-repeat: no-repeat; background-size: cover; text-align: center; transition: all 0.3s ease; box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.services-section .services-wrapper .services-content .services-container .service-box .service-image .service-title { color: #fefefe; background: rgba(0, 0, 0, 0.75); padding: 0.5rem 0.75rem; border-radius: 15px; text-transform: uppercase; font-size: 1.35rem; font-weight: 600; letter-spacing: 1px; }

.services-section .services-wrapper .services-content .services-container .service-box .service-image:hover { transform: scale(1.05); }

.services-section .services-wrapper .services-content .services-container .service-box .service-description { margin: 0.5rem 0; font-size: 1.1rem; }

@keyframes text-move { 0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); } }

@media only screen and (max-width: 1600px) { .services-section .services-wrapper .services-content .special-offers .special-offers-container .offer-title { font-size: 1rem; } }

@media only screen and (max-width: 1400px) { .services-section .services-wrapper .services-aside { display: none; } }

@media only screen and (max-width: 1060px) { .services-section .services-wrapper .services-content .special-offers .special-offers-title { display: none; }
  .services-section .services-wrapper .services-content .special-offers .special-offers-container { display: none; } }

.about-us { width: 100vw; display: flex; align-items: center; justify-content: center; }

.about-us .about-us-wrapper { width: 80%; display: flex; flex-direction: column; }

.about-us .about-us-wrapper .about-us-title { margin: 2rem 0; text-align: center; font-size: 1.5rem; }

.about-us .about-us-wrapper .about-us-text { margin: 0.5rem 0; }

.about-us .about-us-wrapper h3 { margin: 1rem 0; text-align: center; font-size: 1.3rem; }

.about-us .about-us-wrapper .certificates { width: 100%; display: flex; justify-content: center; align-items: center; }

.about-us .about-us-wrapper .certificates .certificates-wrapper { width: 80%; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center; }

.about-us .about-us-wrapper .certificates img { height: 500px; }

.about-us .about-us-wrapper .buttons-container { display: flex; justify-content: center; align-items: center; }

.about-us .about-us-wrapper .buttons-container button { cursor: pointer; padding: 0.5rem 0.75rem; margin: 0 1.25rem; outline: none; border: none; background-color: #4d9de0; color: #fefefe; border: 2px solid #fefefe; border-radius: 10px; font-size: 1.2rem; font-weight: 500; letter-spacing: 0.1rem; text-transform: uppercase; transition: all 0.3s ease; }

.about-us .about-us-wrapper .buttons-container button:hover { color: #4d9de0; background-color: #fefefe; border-color: #4d9de0; transform: scale(1.05); }

.about-us .highlight { color: #4d9de0; }
