@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

/* THE WAY TO SOLVE JAVASCRIPT DARK/LIGHT MODE TOGGLE - then use this variables below */
// :root {
//   --text-color: #141414;
// }

$font-stack: "Poppins", sans-serif;
$logo-font: "Anonymous Pro", monospace;
$dark-text-color: #141414;
$grey-text-color: #ccc;
$light-text-color: #fefefe;
$main-background-color: #fefefe;
$second-background-color: #fefefe;
$special-text-color: #4d9de0;
